# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\desarrollo-fullstack\backend-java\workspace_sts\proyecto-galaxyv2\ms-digital-library-cloud-config-data\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
